.archive__header {
  padding-top: var(--navbar-height);
}

.blog-archive__post {
  border-bottom: 1px solid var(--color-border);
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  background-color: var(--nav-background);
  border-radius: 0.5rem;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
  margin-bottom: 2.5rem;
  border: 1px solid var(--secondary-color);
  text-decoration: none;
  color: var(--secondary-color);
  transition: filter 0.2s ease;
}

.blog-archive__post:hover {
  filter: brightness(1.02);
}

.blog-archive__post:hover .blog-archive__post-link {
  color: var(--primary-color);
  text-decoration: underline;
}

.blog-archive__post-link {
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--secondary-color);
  text-decoration: none;
  transition: color 0.2s ease;
}

.blog-archive__post-link:hover {
  text-decoration: underline;
}

.blog-archive__post-excerpt {
  margin: 0.5rem 0;
  color: var(--color-text-secondary);
  font-size: 0.95rem;
}

.blog-archive__post-date {
  font-size: 0.875rem;
  color: var(--color-text-tertiary);
  font-style: oblique;
}

.archive__rss-icon__container {
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
}

.archive__rss-icon__link {
    text-decoration: none;
    /* color: var(--secondary-color);
    font-weight: 500;
    border-radius: 5px;
    padding: 0.25rem 0.5rem; */
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    justify-content: center;
}

.archive__rss-icon {
    width: 1rem;
    display: inline-flex;
    color: var(--background-color);
}

.archive__rss-icon > svg {
    width: 100%;
    height: auto;
}
