* {
  box-sizing: border-box;
}

:root {
  --primary-color-option-2: #9f5566; /* WCAG AAA for large text */
  --primary-color: #fc5736; /* WCAG AA for large text CURRENT CHOICE */
  --secondary-color-option-2: #270408;
  --secondary-color: #680317; /* WCAG AAA for small text CURRENT CHOICE */
  --background-color: #fdf8f1; /* hsl(34, 78%, 97%) CURRENT CHOICE */
  --nav-background: hsl(35 75% 95% / 1);
  --nav-background-hex: #fcf4e9;
  --nav-background: #F4E0C5; /* Slightly darker for contrast */
  --nav-background: hsl(35 75% 90% / 1); /* Slightly darker for contrast */
  --text-color: #333;
  --font-family-display: "Della Respira", serif;
  --font-family-body: "Open Sans", verdana, sans-serif;
  scrollbar-color: var(--primary-color) var(--background-color);
  --navbar-height: var(--nav-height, 64px);
  --svh: 1svh;
  --vh: var(--svh, 1vh);
}

.dark-theme {
  --background-color: #171629;
  --nav-background: #292847;
  --primary-color: #c6d4d6;
  --secondary-color: #fff;
  scrollbar-color: var(--background-color) var(--primary-color);
}

body {
  background-color: var(--background-color);
  margin: 0;
  font-family: var(--font-family-body);
}

p,
span,
a,
li,
.font-body {
  font-family: var(--font-family-body);
  font-style: normal;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

p {
  font-size: 1.25rem;
  line-height: 1.6;
  color: var(--secondary-color);
  text-align: left;
  display: block;
  /* don't break up words */
  overflow-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6,
.font-display {
  font-family: var(--font-family-display);
  font-weight: 400;
  font-style: normal;
  color: var(--secondary-color);
}

.section-heading {
  font-family: var(--font-family-display);
  color: var(--primary-color);
  font-weight: 400;
  font-size: 2.75rem;
  font-size: 2.5rem;
  line-height: 1.36;
  margin-bottom: 2.2rem;
  padding: 0.25rem;
  text-align: left;
}

.section-heading::after,
.blog-page h2::after {
  content: "";
  display: block;
  width: 100%;
  height: 0.125rem;
  border-radius: 0.25rem;
  background-color: var(--secondary-color);
  margin-top: 0.5rem;
  /* fade to right */
  background: linear-gradient(
    to right,
    var(--background-color),
    var(--secondary-color),
    var(--background-color)
  );
  /* gradient starting at 10%, 50%, 90% */
  background: linear-gradient(
    to right,
    var(--secondary-color) 0%,
    var(--secondary-color) 66%,
    var(--background-color) 100%
  );
  background: linear-gradient(
    to right,
    var(--primary-color) 0%,
    var(--background-color) 33%
  );
}

.blog-page h2 {
  font-family: var(--font-family-display);
  color: var(--primary-color);
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 1.4;
  margin-bottom: 1.5rem;
  padding: 0.25rem;
  text-align: left;
}

.section-subheading,
.blog-page h3 {
  margin-top: 0;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.4;
  padding: 0.25rem;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

code {
  text-wrap: wrap;
  overflow-wrap: break-word;
}

.sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

/* Transitions for theme change */
.theme-transition, .theme-transition *, .theme-transition .navbar, .theme-transition .navbar * {
  transition: background-color 1s ease-in-out, color 1s ease-in-out;
}

.theme-transition svg, .theme-transition .parallax-layer * {
  transition: fill 1s ease-in-out, stroke 1s ease-in-out;
}

/* SVG Icons */
.icon {
  width: 0.75em;
  height: 0.75em;
  vertical-align: -0.125em;
  z-index: 1;
}