[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
shodo_ssg = {git = "https://github.com/ryanmphill/shodo-static-gen", ref = "c4e86d8c5a87c8196a32811f8b6fa2941b7ada39"}

[dev-packages]

[requires]
python_version = "3.9"
