<script>(()=>{(function(){let e=!1,t=window.matchMedia('(prefers-color-scheme: dark)');function a(r){document.documentElement.classList.toggle('dark-theme',r)}localStorage.getItem('rpdev-dark-theme')?(a(localStorage.getItem('rpdev-dark-theme')=='true'),e=localStorage.getItem('rpdev-dark-theme')=='true'):(a(t.matches),e=t.matches)})();})();</script>