@frontmatter
{
    "title": "Blog",
    "body_class": "blog-page",
    "author": "Ryan Phillips",
    "description": "Tech articles, tutorials, and development-focused blogs from Ryan Phillips, a Nashville based full stack software developer.",
    "canonical": "https://ryanphillips.dev/blog",
    "og_title": "Blog - Ryan Phillips",
    "og_site_name": "Ryan Phillips",
    "og_description": "Tech articles, tutorials, and development-focused blogs from Ryan Phillips, a Nashville based full stack software developer.",
    "og_image": "https://ryanphillips.dev/static/images/ryan-portfolio-screenshot-1200x630.png",
    "og_locale": "en_US",
    "og_url": "https://ryanphillips.dev/blog",
    "robots": "noai, noimageai",
    "head_extra": [
        "<link rel='icon' href='/favicon.ico' type='image/x-icon' sizes='32x32'>",
        "<link rel='icon' href='/static/images/favicons/favicon-light-32x32.png' media='(prefers-color-scheme: light)' type='image/x-icon' sizes='16x16 32x32'>",
        "<link rel='icon' href='/static/images/favicons/favicon-dark-32x32.png' media='(prefers-color-scheme: dark)' type='image/x-icon' sizes='16x16 32x32'>",
        "<link rel='icon' href='/static/images/favicons/favicon-light-96x96.png' media='(prefers-color-scheme: light)' type='image/x-icon' sizes='96x96'>",
        "<link rel='icon' href='/static/images/favicons/favicon-dark-96x96.png' media='(prefers-color-scheme: dark)' type='image/x-icon' sizes='96x96'>",
        "<link rel='apple-touch-icon' sizes='180x180' href='/static/images/favicons/apple-touch-icon.png'>",
        "{% include 'partials/inline-scripts/load_theme_min.jinja' %}",
        "{% include 'partials/noscript.jinja' %}",
        "<link rel='preload' href='/static/assets/fonts/Della_Respira/della-respira-normal-400.woff2' as='font' type='font/woff2' crossorigin>",
        "<link rel='preload' href='/static/assets/fonts/open-sans/open-sans-v44-greek_latin_latin-ext_math_symbols-regular.woff2' as='font' type='font/woff2' crossorigin>"
    ]
}
@endfrontmatter

{% include "partials/navbar.jinja" %}
<header class="archive__header">
    <div class="archive__header-container">
        <div class="page-heading">
            <h1 class="page-title">{{ article.title }}</h1>
        </div>
    </div>
</header>
<main class="content">
    <section id="recent" class="page-section">
        {# {% if article.published_dt_local %}
        <div><em>Published on {{ article.published_dt_local.strftime("%B") }} {{ article.published_dt_local.day }}, {{ article.published_dt_local.year }} at {{ article.published_dt_local.strftime("%I:%M %p") }} {{ article.published_dt_local.strftime("%Z") }}</em></div>
        {% endif %} #}
        <div class="blog-article__date">
            <time datetime="{{ article.published_datetime.isoformat() }}Z">{{ article.published_dt_local.strftime("%B") }} {{ article.published_dt_local.day }}, {{ article.published_dt_local.year }}</time>
        </div>
        {{ article.content }}
    </section>
</main>
<footer id="footer" class="footer">
    <div class="footer__container">
        <p class="footer__copyright">&copy; {{ current_year }} Ryan Phillips{#&#8226;#}</p>
        <span class="footer__messages">
            &#8226;
        </span>
        <p class="footer__messages">
            Designed and built by me with <span class="footer__heart">&hearts;</span> {# using
            <a class="footer__link" href="https://github.com/ryanmphill/shodo-static-gen" target="_blank"
                rel="noopener noreferrer">Shodo</a> #}
        </p>
    </div>
</footer>
