<svg class="parallax-layer homepage-header__layer2" id="Layer_2" data-name="Layer 2" xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 726.6 379.06">
    <defs>
        <style>
            .homepage-header__layer2-cls-1 {
                fill: var(--background-color);
                stroke: var(--background-color);
            }

            .homepage-header__layer2-cls-2 {
                fill: none;
                stroke: var(--secondary-color);
                stroke-linecap: round;
                stroke-miterlimit: 10;
                stroke-width: 2px;
            }
        </style>
    </defs>
    <g id="Layer_1-2" data-name="Layer 1">
        <g>
            <path class="homepage-header__layer2-cls-1"
                d="m1,318.06C54.2,318.06,161.3,10.56,334.2,1.06c73-4,136,155,176,158.5s73-53.5,133,6.5c60,60,82.4,212,82.4,212H1v-60Z" />
            <g>
                <path class="homepage-header__layer2-cls-2"
                    d="m1,340.57C54.2,340.57,161.3,10.56,334.2,1.06c73-4,132.51,184.96,172.51,188.46s68.52-86.81,136.49-23.46c62.07,57.85,82.4,212,82.4,212" />
                <path class="homepage-header__layer2-cls-2"
                    d="m1,329.31c61.8,0,157.55-295.98,330.45-305.48,73-4,137.01,147.21,177.01,150.71s69.81-61.87,133.79-.2c61.04,58.93,50.26,203.72,50.26,203.72" />
                <path class="homepage-header__layer2-cls-2"
                    d="m1,318.06c70.41,0,154.8-261.96,327.7-271.46,73-4,141.5,109.46,181.5,112.96s71.09-36.94,131.09,23.06,18.11,195.44,18.11,195.44" />
            </g>
        </g>
    </g>
</svg>