@frontmatter
{
    "title": "Blog - Ryan Phillips",
    "author": "Ryan Phillips",
    "description": "Tech articles, tutorials, and development-focused blogs from Ryan Phillips, a Nashville based full stack software developer.",
    "canonical": "https://ryanphillips.dev/blog",
    "og_title": "Blog - Ryan Phillips",
    "og_site_name": "Ryan Phillips",
    "og_description": "Tech articles, tutorials, and development-focused blogs from Ryan Phillips, a Nashville based full stack software developer.",
    "og_image": "https://ryanphillips.dev/static/images/ryan-portfolio-screenshot-1200x630.png",
    "og_locale": "en_US",
    "og_url": "https://ryanphillips.dev/blog",
    "robots": "noai, noimageai",
    "body_class": "blog-archive",
    "paginate": "shodo_get_articles",
    "per_page": "8",
    "head_extra": [
        "<link rel='icon' href='/favicon.ico' type='image/x-icon' sizes='32x32'>",
        "<link rel='icon' href='/static/images/favicons/favicon-light-32x32.png' media='(prefers-color-scheme: light)' type='image/x-icon' sizes='16x16 32x32'>",
        "<link rel='icon' href='/static/images/favicons/favicon-dark-32x32.png' media='(prefers-color-scheme: dark)' type='image/x-icon' sizes='16x16 32x32'>",
        "<link rel='icon' href='/static/images/favicons/favicon-light-96x96.png' media='(prefers-color-scheme: light)' type='image/x-icon' sizes='96x96'>",
        "<link rel='icon' href='/static/images/favicons/favicon-dark-96x96.png' media='(prefers-color-scheme: dark)' type='image/x-icon' sizes='96x96'>",
        "<link rel='apple-touch-icon' sizes='180x180' href='/static/images/favicons/apple-touch-icon.png'>",
        "{% include 'partials/inline-scripts/load_theme_min.jinja' %}",
        "{% include 'partials/noscript.jinja' %}",
        "<link rel='preload' href='/static/assets/fonts/Della_Respira/della-respira-normal-400.woff2' as='font' type='font/woff2' crossorigin>",
        "<link rel='preload' href='/static/assets/fonts/open-sans/open-sans-v44-greek_latin_latin-ext_math_symbols-regular.woff2' as='font' type='font/woff2' crossorigin>"
    ]
}
@endfrontmatter

{% include "partials/navbar.jinja" %}
<header class="archive__header">
    <div class="archive__header-container">
        <div class="page-heading">
            <h1 class="page-title">Blog</h1>
            {# <p class="homepage-header__subtitle">A Full Stack Software Developer</p> #}
            {# <p class="page-subtitle">Tech articles, tutorials, and development-focused blog posts</p> #}
            {# <div class="archive__rss-icon__container">
                <a class="archive__rss-icon__link button-primary" href="/feed.xml" aria-label="Blog RSS Feed">
                    Subscribe 
                    <span class="archive__rss-icon">
                    {% include "partials/svg/rss-icon.jinja" %}
                    </span>
                </a>
            </div> #}
        </div>
    </div>
</header>
<main class="content">
    <section id="recent" class="page-section">
        {% if pagination.total_items == 0 %}
            <p>No posts found.</p>
        {% endif %}
        {% if pagination.current_page == 1 %}
            <h2 class="section-heading">Recent Posts</h2>
        {% else %}
            <h2 class="section-heading">Posts - Page {{ pagination.current_page }}</h2>
        {% endif %}
        {# <div>
            <a class="page-link" href="/blog/first-article">First Article</a>
        </div> #}
        {% for post in shodo_get_articles({ 
            "limit": pagination.per_page,
            "offset": pagination.per_page * (pagination.current_page - 1),
            "where": {
                "directory": { "starts_with": "/blog" }
            },
            "order_by": { "desc": "published_datetime" }
        }) %}
            <a class="blog-archive__post" href="{{ post.path }}" >
                <span class="page-link blog-archive__post-link" href="{{ post.path }}">{{ post.title or 'Untitled' }}</span>
                <p class="blog-archive__post-excerpt">{{ shodo_get_excerpt(post.content, 200) }}</p>
                <div class="blog-archive__post-date">Published on <time datetime="{{ post.published_datetime.isoformat() }}Z">{{ post.published_dt_local.strftime("%B") }} {{ post.published_dt_local.day }}, {{ post.published_dt_local.year }} at {{ post.published_dt_local.strftime("%I:%M %p") }} {{ post.published_dt_local.strftime("%Z") }}</time></div>
            </a>
        {% endfor %}
        <div class="blog-archive__pagination">
            {{ pagination.page_links }}
        </div>
    </section>
    <section>
        <div class="archive__rss-icon__container">
            <a class="archive__rss-icon__link button-primary" href="/feed.xml" aria-label="Blog RSS Feed">
                Subscribe to Feed
                <span class="archive__rss-icon">
                {% include "partials/svg/rss-icon.jinja" %}
                </span>
            </a>
        </div>
    </section>
</main>
<footer id="footer" class="footer">
    <div class="footer__container">
        <p class="footer__copyright">&copy; {{ current_year }} Ryan Phillips{#&#8226;#}</p>
        <span class="footer__messages">
            &#8226;
        </span>
        <p class="footer__messages">
            Designed and built by me with <span class="footer__heart">&hearts;</span> {# using
            <a class="footer__link" href="https://github.com/ryanmphill/shodo-static-gen" target="_blank"
                rel="noopener noreferrer">Shodo</a> #}
        </p>
    </div>
</footer>