<svg class="parallax-layer homepage-header__layer3" id="Layer_2" data-name="Layer 2" xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 1160.9 351" aria-hidden="true" role="img">
    <defs>
        <style>
            .homepage-header__layer3-cls-1 {
                fill: none;
                stroke: var(--secondary-color);
                stroke-linecap: round;
                stroke-miterlimit: 10;
                stroke-width: 2px;
            }

            .homepage-header__layer3-cls-2 {
                fill: var(--background-color);
                stroke-width: 0px;
            }
        </style>
    </defs>
    <g id="Layer_1-2" data-name="Layer 1">
        <g>
            <path class="homepage-header__layer3-cls-2"
                d="m1,350c159-137,213-124,295-145s118-54,166-60,113,37,262,30.5S992.8,15,1159.9,1v349H1Z" />
            <g>
                <path class="homepage-header__layer3-cls-1"
                    d="m35.9,350c159-137,174.22-69.47,256.22-90.47s121.43-108.53,169.43-114.53,156.13,120.49,305.27,120.49c176.77,0,208.17-257.21,393.08-257.21" />
                <path class="homepage-header__layer3-cls-1"
                    d="m18.45,350c159-137,193.61-96.73,275.61-117.73s119.72-81.27,167.72-87.27,134.56,78.74,283.64,75.49c162.89-3.25,238.49-208.86,414.49-215.86" />
                <path class="homepage-header__layer3-cls-1"
                    d="m1,350c159-137,213-124,295-145s118-54,166-60,113,37,262,30.5S992.8,15,1159.9,1" />
            </g>
        </g>
    </g>
</svg>